<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <fieldset>
        <legend>Logowanie:</legend>
        <form action="Name.cshtml" method="post">
            Imie: <input type=text name="name" /><br />
            <input type=submit name="send" value="prześlij" />
        </form>
    </fieldset>
</body>
</html>
