<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <img src="~/Images/Arc2.png" alt="Arc reactor (Palladium)" />
    <div class="links">
        <a href="Mark3.cshtml">Mark III</a>
    </div>
    @section Info {
        <p>
            Another text
        </p>
    }
</body>
</html>
